<mm-auth-layout>
  <form ngForm #loginForm="ngForm" autocomplete="off"
    (ngSubmit)="onLogin(loginForm)">

    <mat-form-field class="full-width">
      <mat-label>Username</mat-label>
      <input ngModel name="username" #userName="ngModel" required type="text"
        matInput placeholder="Username">
    </mat-form-field>

    <div *ngIf="userName.touched">
      <div *ngIf="userName.hasError('required')">This field is required.</div>
    </div>

    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input ngModel name="password" #password="ngModel" required
        type="password" matInput placeholder="Password">
    </mat-form-field>

    <div *ngIf="password.touched">
      <div *ngIf="password.hasError('required')">This field is required.</div>
    </div>

    <p class="sign-up">
      Don't have an account yet?
      <a class="link" routerLink="/sign-up">Sign Up</a>
    </p>

    <button type="submit" mat-raised-button color="primary">Login</button>
  </form>
</mm-auth-layout>