<mm-auth-layout>
  <form>
    <mat-form-field class="full-width">
      <mat-label>Username</mat-label>
      <input [(ngModel)]="username" name="username" type="text" matInput placeholder="Username">
    </mat-form-field>
  
    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input [(ngModel)]="password" name="password" type="password" matInput placeholder="Password">
    </mat-form-field>
  
    <p class="sign-up">
      Don't have an account yet?
      <a class="link" routerLink="/sign-up">Sign Up</a>
    </p>
  
    <button mat-raised-button color="primary" (click)="onLogin($event)">Login</button>
  </form>
</mm-auth-layout>
