<div class="container">
  <h2>New Transaction</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div *ngFor="let field of formModel">
      <!-- Input field -->
      <mat-form-field class="full-width"
        [ngClass]="{ 'field_with_error': hasError(field.fieldName) }"
        *ngIf="field.elementType === 'input'">
        <mat-label>{{ field.displayName }}</mat-label>

        <input matInput [formControlName]="field.fieldName"
          [type]="field.inputType || 'text'" [placeholder]="field.displayName">

        <mat-error *ngIf="hasError(field.fieldName)">
          <span>{{ getFieldError(field.fieldName) }}</span>
        </mat-error>
      </mat-form-field>

      <!-- Text area -->
      <mat-form-field class="full-width"
        [ngClass]="{ 'field_with_error': hasError(field.fieldName) }"
        *ngIf="field.elementType === 'textarea'">

        <mat-label>{{ field.displayName }}</mat-label>
        <textarea matInput [formControlName]="field.fieldName"
          [placeholder]="field.displayName"></textarea>

        <mat-error *ngIf="hasError(field.fieldName)">
          <span>{{ getFieldError(field.fieldName) }}</span>
        </mat-error>
      </mat-form-field>

      <!-- Select field -->
      <mat-form-field class="full-width"
        [ngClass]="{ 'field_with_error': hasError(field.fieldName) }"
        *ngIf="field.elementType === 'select'">
        <mat-label>{{ field.displayName }}</mat-label>

        <mat-select [formControlName]="field.fieldName">
          <mat-option [value]="option.value"
            *ngFor="let option of field.options">
            {{ option.text }}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="hasError(field.fieldName)">
          <span>{{ getFieldError(field.fieldName) }}</span>
        </mat-error>
      </mat-form-field>

      <!-- Date time picker -->
      <mat-form-field class="full-width"
        [ngClass]="{ 'field_with_error': hasError(field.fieldName) }"
        *ngIf="field.elementType === 'dateTimePicker'">
        <input matInput [ngxMatDatetimePicker]="picker"
          placeholder="Choose a date" [formControlName]="field.fieldName">

        <mat-datepicker-toggle matSuffix [for]="$any(picker)">
        </mat-datepicker-toggle>

        <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>

        <mat-error *ngIf="hasError(field.fieldName)">
          <span>{{ getFieldError(field.fieldName) }}</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="buttons">
      <button type="button" mat-button (click)="onClose()">Close</button>
      <button type="submit" mat-raised-button color="accent">Add</button>
    </div>
  </form>
</div>