<div class="container">
  <div class="header">
    <h1>Contacts</h1>
  </div>

  <div class="contacts">
    <div class="contact">
      <div class="info">
        <div class="name">Contact 1</div>
        <div class="updated_on">12, May 2021</div>
      </div>

      <div class="email">contact1@email.com</div>

      <div class="summary">
        <div class="you_owe">You owe: <span class="amount">40</span></div>
        <div class="owes_you">Owes you: <span class="amount">50</span></div>
      </div>
    </div>

    <div class="contact">
      <div class="info">
        <div class="name">Contact 2</div>
        <div class="updated_on">12, May 2021</div>
      </div>

      <div class="email">contact1@email.com</div>

      <div class="summary">
        <div class="you_owe">You owe: <span class="amount">40</span></div>
        <div class="owes_you">Owes you: <span class="amount">50</span></div>
      </div>
    </div>

    <div class="contact">
      <div class="info">
        <div class="name">Contact 3</div>
        <div class="updated_on">12, May 2021</div>
      </div>

      <div class="email">contact3.test@email.com</div>

      <div class="summary">
        <div class="you_owe">You owe: <span class="amount">40</span></div>
        <div class="owes_you">Owes you: <span class="amount">5000</span></div>
      </div>
    </div>
  </div>
</div>