.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .header {
    margin: 16px;
  }

  .contacts {
    width: 65%;
    flex-grow: 1;
    background-color: white;
    margin: 0 auto;
  }
}


