<mm-auth-layout>
  <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()" autocomplete="off">
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input formControlName="email" type="email" matInput placeholder="Email">
    </mat-form-field>

    <div *ngIf="email.touched">
      <div>{{ getEmailError() }}</div>
    </div>

    <mat-form-field class="full-width">
      <mat-label>Username</mat-label>
      <input formControlName="username" type="text" matInput
        placeholder="Username">
    </mat-form-field>

    <div *ngIf="username.touched">
      <div>{{ getUsernameError() }}</div>
    </div>

    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input formControlName="password" type="password" matInput
        placeholder="Password">
    </mat-form-field>

    <div *ngIf="password.touched">
      <div>{{ getPasswordError() }}</div>
    </div>

    <mat-form-field class="full-width">
      <mat-label>Confirm Password</mat-label>
      <input formControlName="confirmPassword" type="password" matInput
        placeholder="Password">
    </mat-form-field>

    <div *ngIf="confirmPassword.touched">
      <div>{{ getConfirmPasswordError() }}</div>
    </div>

    <p class="sign-up">
      Already have an account?
      <a class="link" routerLink="/login">Login</a>
    </p>

    <button mat-raised-button color="primary">Create Account</button>
  </form>
</mm-auth-layout>