<div class="container">
  <div class="contact_data">
    <div class="general_info">
      <img src="assets/images/contact.png" alt="">

      <div class="general_info--inner_container">
        <div class="contact_name">Courage The Cowardly Dog</div>
        <div class="date">12, March 2021</div>
        <div class="email">courage@email.com</div>
      </div>
    </div>

    <div class="transaction_info">
      <div class="you_owe">
        <span class="text">You owe: </span><span class="amount">1000</span>
      </div>

      <div class="owes_you">
        <span class="text">Owes you: </span><span class="amount">100</span>
      </div>
    </div>
  </div>

  <div class="transactions">
    <mm-transaction></mm-transaction>
  </div>
</div>