<div class="container">
  <div class="contact_data" *ngIf="contact">
    <div class="general_info">
      <img src="assets/images/contact.png" alt="">

      <div class="general_info--inner_container">
        <div class="contact_name">{{ fullName }}</div>
        <div class="date">{{ contact.createdAt | date:'fullDate' }}</div>
        <div class="email">{{ contact.email }}</div>
      </div>
    </div>

    <div class="transaction_info">
      <div class="you_owe">
        <span class="text">You owe: </span><span class="amount">{{
          youOwe | currency:'INR' }}</span>
      </div>

      <div class="owes_you">
        <span class="text">Owes you: </span><span class="amount">{{
          owesYou | currency:'INR'
          }}</span>
      </div>
    </div>

    <div class="buttons">
      <button mat-fab color="accent" (click)="onAddTransaction()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <div class="transactions">
    <mm-transaction
      *ngFor="let transaction of transactions; last as isLastIteration"
      [transaction]="transaction" [isLast]="isLastIteration"
      [hideContactName]="true" (refresh)="refreshList()"></mm-transaction>
  </div>
</div>