.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .badge {
    color: white;
    cursor: pointer;
    text-decoration: none;
  }

  .contents {
    flex-grow: 1;
    overflow-y: auto;
    width: 65%;
    max-width: 1200px;
    margin: auto;
  }
}
