@import "../../colors";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .toolbar_container {
    display: flex;
    align-items: center;
    width: 100%;

    .badge {
      color: white;
      cursor: pointer;
      text-decoration: none;
    }

    .links {
      margin-left: 16px;

      .link {
        color: white;
        text-decoration: none;
        margin-left: 16px;
        font-weight: 400;
        font-size: 16px;
        padding-bottom: 4px;

        &.active {
          color: $accent-color;
          border-bottom: 4px solid $accent-color;
        }
      }
    }

    .user_details {
      display: flex;
      align-items: center;
      font-weight: 400;
      margin-left: auto;

      .user_badge {
      }

      .user_name {
        font-size: 18px;
      }
    }
  }

  .contents {
    flex-grow: 1;
    overflow-y: auto;
    width: 65%;
    max-width: 1200px;
    margin: auto;
  }
}
