<h2>Settings</h2>

<form ngForm #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit()">
  <mat-form-field class="full-width">
    <mat-label>Username</mat-label>

    <input ngModel name="username" #userName="ngModel" required type="text"
      matInput placeholder="Username">

    <mat-error *ngIf="userName.touched">
      <span *ngIf="userName.hasError('required')">This field is
        required.</span>
    </mat-error>
  </mat-form-field>

  <button type="submit" mat-raised-button color="accent">Update</button>
</form>