<div class="contact" (click)="onViewContact()">
  <div class="image">
    <img src="assets/images/contact.png" alt="Contact Profile Image">
  </div>

  <div class="info">
    <div class="name">{{ contact.firstName +
      ' ' + contact.lastName }}</div>
    <div class="updated_on">{{ contact.createdAt | date:'fullDate' }}</div>
  </div>

  <div class="email">{{ contact.email }}</div>

  <div class="summary">
    <div class="you_owe">
      You owe: <span class="amount">{{ contact.youOwe | currency:'INR' }}</span>
    </div>

    <div class="owes_you">
      Owes you: <span class="amount">{{ contact.owesYou | currency:'INR'
        }}</span>
    </div>
  </div>

  <div class="buttons">
    <mm-crud-buttons [hideAddIcon]="true" (press)="onCaptureEvent($event)"></mm-crud-buttons>
  </div>
</div>