@import "./colors";

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // background-color: #fdfaf6;
  color: $black;

  .full-width {
    width: 100%;
  }

  .mat-form-field-appearance-legacy .mat-form-field-prefix .mat-icon-button .mat-icon,
  .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon-button .mat-icon {
    font-size: 18px;
  }

  .mm-button {
    width: 250px;
    margin: 0 auto;
  }
}
