<div class="container"
  [ngClass]="{ 'hide_name': hideName, 'owes_you': owesYou, 'is_owed': isOwed }"
  [ngStyle]="{ 'border-color': isLast ? 'transparent' : '' }">

  <div class="contact_info">

    <a class="name" *ngIf="!hideName"
      [routerLink]="['/contact', txn.contactId]">{{ getContactName() }}</a>

    <div class="transaction_type">{{ transactionType }}</div>
  </div>

  <div class="transaction_details">
    <div class="note">{{ note }}</div>
    <div class="inner_container">
      <span class="date_time">{{ txn.dateTime | date: 'MMMM d, y, h:mm a'
        }}</span>
      <span class="description">{{ description }}</span>
    </div>
  </div>

  <div class="transaction_amount">
    <span>{{ txn.amount | currency:'INR' }}</span>
  </div>

  <mm-crud-buttons [hideAddIcon]="true" (press)="onButtonAction($event)">
  </mm-crud-buttons>
</div>