@import "../../../colors";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .user_data {
    display: flex;
    align-items: center;
    margin: 16px 0;
    padding-bottom: 16px;
    border-bottom: 2px solid $primary-color;

    .general_info {
      display: flex;
      align-items: center;

      img {
        width: 80px;
        border-radius: 50%;
        margin-right: 16px;
      }

      .general_info--inner_container {
        .user_name {
          font-weight: 500;
          font-size: 18px;
        }

        .email {
          font-size: 16px;
        }
      }
    }

    .transaction_info {
      margin-left: 32px;

      .you_owe,
      .owes_you {
        .text {
          font-weight: 400;
          font-size: 16px;
        }

        .amount {
          font-weight: 500;
        }
      }

      .you_owe {
        .amount {
          color: $red;
        }
      }

      .owes_you {
        .amount {
          color: $blue;
        }
      }
    }

    .buttons {
      margin-left: auto;
      margin-right: 16px;
    }
  }

  .transactions {
    flex-grow: 1;
    overflow-y: auto;
  }
}
